* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background-color: #1abc9c;
}

::-moz-selection {
    color: #fff;
    background-color: #00bb00;
}

a {
    text-decoration: none;
    color: #0090D3;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

a:hover {
	color: #229C27;
}

h3 {
    font-weight: 100;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: Microsoft Yahei, Arial, "Helvetica Neue", Helvetica Neue, Helvetica, Hiragino Sans GB;
}

body{
    background-color: #f6f7f9;
    line-height: 1.7;
}

#layout {
    padding: 0;
}

.sidebar {
    background: #2d3339;
}

@font-face {
	font-family: segoepr;
	src:url("/res/fonts/segoepr.ttf"),
		url("/res/fonts/segoepr.eot"),
		url("/res/fonts/segoepr.otf"),
		url("/res/fonts/segoepr.svg"),
		url("/res/fonts/segoepr.woff");
}

.left{
    width: 100%;
}

.left #header{
    width: 100%;
    line-height: 30px;
}

.left #header a:hover {
    color: #258fb8;
}

.left #header h1{
	font-family: segoepr;
    font-weight: 200;
    font-size: 2.3em;
    margin-top: 10px;
	text-align:center;
}

.left #header a{
    color: #fff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.left #header h2{
	font-family: segoepr;
    font-style: oblique;
    color: rgb(150, 150, 150);
    font-size: 1.4em;
	text-align: center;
	margin-top: -10px;
}

#main-nav ul{
	text-align: center;
	margin-left: -40px;
	margin-top: 50px;
}

.main-navigation li {
	font-family: "Microsoft YaHei", "Arial", "Helvetica Neue", sans-serif;
	font-size: 1.2em;
	margin-top: 15px;
}

#nav-timing {
	background-color: #006291;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 65px;
	padding-right: 65px;
}

#nav-timing:hover {
	background-color: rgba(49, 100, 209, 0.5);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 65px;
	padding-right: 65px;
}

#nav-category {
	background-color: #006291;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 56px;
	padding-right: 56px;
}

#nav-category:hover {
	background-color: rgba(49, 100, 209, 0.5);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 56px;
	padding-right: 56px;
}

#nav-life {
	background-color: #006291;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 75px;
	padding-right: 75px;
}

#nav-life:hover {
	background-color: rgba(49, 100, 209, 0.5);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 75px;
	padding-right: 75px;
}

#nav-about {
	background-color: #006291;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 75px;
	padding-right: 75px;
}

#nav-about:hover {
	background-color: rgba(49, 100, 209, 0.5);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 75px;
	padding-right: 75px;
}

.profilepic {
	text-align:center;
}

.profilepic img{
    border-radius: 100%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	margin-top: 85px;
	width: 200px;
}

#sub-nav .social {
	text-align: center;
	margin-top: 50px;
	margin-left: 15px;
}

#sub-nav .social a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 100%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    text-align: center;
    margin: 0 15px 15px 0;
    opacity: 0.8;
    width: 28px;
    height: 28px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#sub-nav .social a:hover {
    opacity: 1
}

#sub-nav .social a.weibo {
    line-height:25px;
    background-color:  #55cff8;
    border: 1px solid #55CFF8;
}

#sub-nav .social a.weibo:hover {
    border: 1px solid #24c1f6
}

#sub-nav .social a.github {
    margin-top: -3px;
    border: 0px solid #afb6ca;
}

#sub-nav .social a.github:hover {
    border: 0px solid #909ab6
}

#sub-nav .social a.rss {
    line-height:25px;
    background-color: #ef7522;
    border: 1px solid #EF7522;
}

#sub-nav .social a.rss:hover {
    border: 1px solid #cf5d0f
}

#license {
	text-align: center;
	margin-bottom: 45px;
}

blockquote{
    border-left: 5px solid rgba(102, 128, 153, 0.075);
    background: rgba(102, 128, 153, 0.05);
    margin:1em 0.3em;
}

blockquote ul li{
    list-style-type:decimal;
}

.container {
    /*padding: 2em 1em 0;*/
}

.container img,
.container #video{
    max-width: 100%;
    height: auto;
    border-radius: 2px;
}

table{
    background: rgba(102, 128, 153, 0.05);
    font-size: 1em;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 10px;
}

table td,
table th{
    padding: 6px 10px;
    border: solid 0px rgba(102, 128, 153, 0.075);
    margin: 0;
}

table tr:nth-of-type(2n) {
    background: #f9f9f9
}

.post {
    padding-bottom: 0em;
}

.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
	font-weight: 600;
}

.post-description {
    color: #000;
    line-height: 1.8em;
	font-family: "Microsoft YaHei", "Arial", "Helvetica Neue", sans-serif;
}

.post-meta {
    color: #999;
    margin: 0;
	text-transform: Capitalize;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
}

.post-categorybut{
    color: #16B800;
	font-size:105%;
}

.post-categorybut:hover{
    color: #5CE600;
	font-size:110%;
}

.post-categorybut-readall {
    padding: 0.5em 1.5em;
    color: #fff;
    background: #4d85d1;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.post-categorybut-readall:hover {
    padding: 0.5em 1.5em;
    color: #fff;
    background: #00aeff;
}

.post-category-0 {
    background: #5aba59;
}

.post-category-1 {
    background: #4d85d1;
}

t-category-2 {
    background: #8156a7;
}

.post-category-3 {
    background: #df2d4f;
}

@media (min-width: 48em) {
    .container {
        padding: 0 3em 0;
        margin-left: 25%;
    }
	
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}

.footer {
	font-size: 0.95em;
	text-align: center;
	margin-top: 50px;
}

#nprogress {
    pointer-events: none;
    -webkit-pointer-events: none;
}

#nprogress .bar {
    background: #29d;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 100;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 14px;
    height: 14px;

    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 10px;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    -moz-animation: nprogress-spinner 400ms linear infinite;
    -ms-animation: nprogress-spinner 400ms linear infinite;
    -o-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
	
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes nprogress-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
	
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes nprogress-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
	
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes nprogress-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
	
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
	
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.topfade {
    position: fixed;
    _position: absolute;
    bottom: 25px;
    right: 35px;
	z-index: 3;
}

.topfade a, .topfade a:link {
    width: 50px;
    height: 65px;
    display: inline-block;
    background: url(/res/img/top.png) no-repeat;
    outline: none;
}

.topfade a:hover {
    outline: none;
}

.pagination {
    overflow: hidden;
	margin-left: 0rem;
    margin-right: 0rem;
    color: #ccc;
    text-align: center;
}

.pagination-item {
    display: block;
    padding: 1rem;
    border: 1px solid #eee;
}

.pagination-item:first-child {
    margin-bottom: -1px;
}

a.pagination-item:hover {
    background-color: #6a9fb5;
    color: #ffffff;
}

@media (min-width: 30rem) {
    .pagination {
        margin: 2em 0;
		text-align: center;
		width: 100%;
    }

    .pagination-item {
		float: left;
        width: 50%;
    }

    .pagination-item:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .pagination-item:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.main-pagination {
	float: left;
	width: 100%;
	font-family: Microsoft Yahei, Arial, "Helvetica Neue", Helvetica Neue, Helvetica, Hiragino Sans GB;
}

#ds-thread .ds-powered-by a {
	font-size: 0px !important;
	padding: 0;
}

.posts {
	margin-bottom: 60px;
}

.space {
	margin-right: 35px;
}

.bdsharebuttonbox {
	margin-bottom: -10px;
}

@media screen and (max-width: 768px) {
	.container.pure-u-1.pure-u-med-3-4 {
		width: 94%;
		margin-left: 9.5px;
		margin-top: -20px;
	}

	.profilepic img{
		border-radius: 100%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		margin-top: 35px;
		width: 190px;
	}
	
	#main-nav ul{
		text-align: center;
		margin-left: -40px;
		margin-top: 30px;
	}
	
	#sub-nav .social {
		text-align: center;
		margin-top: 30px;
		margin-left: 15px;
	}
	
	#license {
		text-align: center;
		margin-bottom: 30px;
	}
	
	.pagination {
		overflow: hidden;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: -5px;
		margin-bottom: 15px;
		color: #ccc;
		text-align: center;
	}
	
	.space {
		margin-right: 15px;
	}
	
	.bdsharebuttonbox {
		margin-bottom: 15px;
		margin-top: -10px;
	}
	
	.topfade {
		position: fixed;
		_position: absolute;
		bottom: 10px;
		right: 20px;
		z-index: 3;
	}
}