.column {
    width: 100%;
	padding-left: 20%;
	padding-right: 20%;
    float: left;
	/*margin-right: 22px;*/
}

.column h2 {
    width: 100%;
    float: left;
    border-bottom: 4px #e5e5e5 solid;
    font-size: 2.3em;
	text-transform: Capitalize;
	padding-bottom: 5px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.columnUl {
    width: 100%;
    float: left;
	font-size: 1.1em;
    padding: 0px 0px;
	margin-top: -15px;
}

ul, li {
    list-style-type: none;
}

.columnUl li {
    width: 100%;
    height: 45px;
    float: left;
    margin-top: 5px;
    line-height: 20px;
    border-left: 4px #6a9fb5 solid;
}

.columnUl li b {
    height: 25px;
    float: left;
    margin-left: 10px;
    display: inline;
    /*overflow: hidden;*/
    font-weight: normal;
}

.columnUl li span {
    float: right;
    margin-right: 2px;
    display: inline;
}

/*
.f3 .Highlight {
    border-bottom: 2px #6a9fb5 solid;
}*/

.f4 .Highlight {
    border-bottom: 2px #6a9fb5 solid;
}
.f5 .Highlight {
    border-bottom: 2px #6a9fb5 solid;
}


article .entry-content .f3 ul {
    margin-left: 0px;
}

.columnUl li {
    line-height: 20px;
}

.f3 {
    /*float: left;*/
    /*margin-bottom: 150px;*/
	/*margin-left: 10px;*/
    font: 1em \5FAE\8F6F\96C5\9ED1;
    color: #383838;
}

.f4 {
    width: 770px;
    float: left;
    margin-bottom: 150px;
    font: 12px/1.5 \5FAE\8F6F\96C5\9ED1;
    color: #383838;
}

.f5 {
    float: left;
    margin-bottom: 150px;
    font: 0.75em \5FAE\8F6F\96C5\9ED1;
    color: #383838;

}

@media screen and (max-width: 768px) {
	.column {
		width: 100%;
		padding-left: 0%;
		padding-right: 0%;
		margin-top: 25px;
		float: left;
		margin-bottom: -15px;
	}
	.columnUl li b {
		height: 25px;
		float: left;
		margin-left: 5px;
		display: inline;
		font-weight: normal;
	}
	.columnUl li span {
		float: right;
		display: inline;
		font-size: 16px;
	}
	.column h2 {
		font-size: 30px;
		width: 100%;
		float: left;
		border-bottom: 3px #e5e5e5 solid;
		text-transform: Capitalize;
		margin-top: 5px;
	}
	.columnUl {
		width: 100%;
		float: left;
		font-size: 1.1em;
		padding: 0px 0px;
	}
}
